.Error {
    margin: 10%;
}

.Button {
    font-size: 20px;
}

.Link {
    color: rgb(180, 90, 245);
}

.errorHeader {
    font-size: 25px;
    color: rgb(180, 11, 70);
    text-align: center;
    margin: 50px;
}
