header {
    text-align: center;
}
.searchLine {
    width: 90%;
}
.searchContainer {
    height: 95%;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
    margin-bottom: 0;
}
footer ul {
    text-align: center;
}